.header {
  height: 112px !important;
  background-color: #ffffff;

  position: sticky;
  top: 0 !important;
  z-index: 10 !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 30px;
}
