@use "mixin" as *;

.posts {
  padding: var(--v-space) 0;
  background-color: #f3f1ed;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 25px;

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
}

@supports not (aspect-ratio: 3 / 2) {
  .post img {
    height: 180px;
  }
}

.post {
  & h3 {
    margin: 1em 0 0.5em;
    font-size: clamp(12px, 2vw, 20px);
    min-height: 0vw;
  }

  & p {
    max-width: 20em;
    font-size: clamp(10px, 1.6vw, 14px);
    min-height: 0vw;
  }
}
